div#container
{
   width: 100%;
   background-color: #000000;
}

body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 15px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #cc2d30;
    top: 0;
    width: 100%;
}

li {
    float: left;
    border-right: 1px solid #bbb;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #800F10;
    color: 333;
}

li:last-child {
    border-right: none;
}

#Button1
{
   border: 1px #000000 solid;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   background-color: #cc2d30;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
}

#wb_JavaScript1
{
   position: absolute;
   left: 223px;
   top: 404px;
   width: 523px;
   height: 396px;
   z-index: 24;
}