<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>DART - Drone Assisted Response Team</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="styles.css" />
<script src="scripts.js"></script>
</head>
<body onload="GoogleMapInit('GoogleMaps', 40.7127837, -74.00594130000002, 'Hartford,CT');">
<p><span style="font-size:37px;"><strong>Welcome to DART</strong></span></p>
<p>
<span style="font-size:24px;">
<strong>Drone Assisted Response Team</strong></span>
</p>
<ul>
  <li><a class="active" href="index.html">Home</a></li>
  <li><a href="#news">Your Tasks</a></li>
  <li><a href="#contact">Claim</a></li>
  <li><a href="index2.html">Upload Images</a></li>
  <li style="float:right"><a class="active" href="#about">Login</a></li>
</ul>
<p>
<div th:if="${message}">
		<h2 th:text="${message}"/>
	</div>
</p>	

<P>
<span style="font-size:18px;"><label>Please upload images of affected area</label></span>
</P>
<div>
	<form method="POST" enctype="multipart/form-data" action="/upload">
		<input type="file" id="Button1" accept="image/*" name="file" />
		Name: <input type="text" name="name" />
  		<input type="submit" id="Button1" value="Upload" />
	</form>
</div>


</body>
</html>